<div class="small-12 columns, tournament_show_page">
<%= link_to "back to current round", tournament_path(@round.tournament), class:"btn" %>
  <%= render 'tournaments/challanges_table', current_round: @round %>
</div>
