  <div class="row">
    <% current_round.challanges.each do |challange| %>
      <div class="small-6 columns">
        <%= render 'challanges/form', challange: challange %>
      </div>
    <% end %>
  </div>
