<% if @tournament.finished %>
  <% redirect_to players_path(tournament_id: @tournament.id) %>
<% else %>
  <% @tournament.rounds.each do |round| %>
    <%= link_to "Round number #{round.round_number}", round_path(round) %>
    <br>
  <% end %>
  
  <%= link_to "Show standings", players_path(tournament_id: @tournament.id) %>
  <% if @tournament.current_round %>
    <div class="challanges_table">
      <%= render 'challanges_table', current_round: @tournament.current_round %>
    </div>
  <% else %>
    <div class="players_table">
      <%= render 'players_table', tournament: @tournament %>
    </div>

  <% end %>
<% end %>